:root {
	--nc-font-sans: 'Fira Code', monospace;
	--nc-font-mono: 'Fira Code', monospace;
	--nc-tx-1: #ffffff;
	--nc-tx-2: #eeeeee;
	--nc-bg-1: #000000;
	--nc-bg-2: #002700;
	--nc-bg-3: #005800;
	--nc-lk-1: #00ff00;
	--nc-lk-2: #00c200;
	--nc-lk-tx: #000000;
	--nc-ac-1: #00ff00;
	--nc-ac-tx: #000000;
}
